*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
font-family:'Cairo',sans-serif;
}

body{

background:
linear-gradient(
-45deg,
#08111f,
#0f172a,
#1e293b,
#111827
);

background-size:400% 400%;

animation:bgMove 12s ease infinite;

overflow-x:hidden;

color:white;

}

@keyframes bgMove{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}

/* HEADER */

header{

position:fixed;

top:0;

width:100%;

z-index:9999;

display:flex;

justify-content:space-between;

align-items:center;

padding:16px 7%;

background:rgba(0,0,0,0.35);

backdrop-filter:blur(14px);

border-bottom:
1px solid rgba(255,255,255,0.1);

}

/* LOGO */

.logo{

position:relative;

display:flex;
justify-content:center;
align-items:center;

width:115px;
height:60px;

border-radius:18px;

overflow:hidden;

background:
rgba(255,255,255,0.05);

backdrop-filter:blur(12px);

animation:
shadowColor 5s linear infinite;

}

/* النص */

.logo-text{

position:relative;

z-index:5;

font-size:18px;
font-weight:900;

animation:
textColor 5s linear infinite;

}

/* المربع */

.logo::before{

content:'';

position:absolute;

width:42px;
height:42px;

border-radius:12px;

background:
linear-gradient(
45deg,
#ff0055,
#00ffee
);

animation:
moveBox 5s ease-in-out infinite,
boxColor 5s linear infinite;

box-shadow:
0 0 35px #ff0055,
0 0 70px #00ffee;

}

/* الإطار */

.logo::after{

content:'';

position:absolute;

inset:0;

border:
2px solid rgba(255,255,255,0.15);

border-radius:18px;

}

/* الحركة */

@keyframes moveBox{

0%{

transform:
translateX(-28px)
rotate(0deg);

}

25%{

transform:
translateX(28px)
rotate(90deg);

}

50%{

transform:
translateX(-28px)
rotate(180deg);

}

75%{

transform:
translateX(28px)
rotate(270deg);

}

100%{

transform:
translateX(-28px)
rotate(360deg);

}

}

/* الألوان */

@keyframes boxColor{

0%{

background:
linear-gradient(
45deg,
#ff0055,
#ff8800
);

box-shadow:
0 0 30px #ff0055;

}

25%{

background:
linear-gradient(
45deg,
#00ffee,
#0066ff
);

box-shadow:
0 0 30px #00ffee;

}

50%{

background:
linear-gradient(
45deg,
#00ff66,
#ccff00
);

box-shadow:
0 0 30px #00ff66;

}

75%{

background:
linear-gradient(
45deg,
#aa00ff,
#ff00d4
);

box-shadow:
0 0 30px #aa00ff;

}

100%{

background:
linear-gradient(
45deg,
#ff0055,
#ff8800
);

box-shadow:
0 0 30px #ff0055;

}

}

/* النص */

@keyframes textColor{

0%{
color:#ff0055;
text-shadow:0 0 15px #ff0055;
}

25%{
color:#00ffee;
text-shadow:0 0 15px #00ffee;
}

50%{
color:#00ff66;
text-shadow:0 0 15px #00ff66;
}

75%{
color:#aa00ff;
text-shadow:0 0 15px #aa00ff;
}

100%{
color:#ff0055;
text-shadow:0 0 15px #ff0055;
}

}

/* الظل */

@keyframes shadowColor{

0%{
box-shadow:
0 0 30px #ff0055;
}

25%{
box-shadow:
0 0 30px #00ffee;
}

50%{
box-shadow:
0 0 30px #00ff66;
}

75%{
box-shadow:
0 0 30px #aa00ff;
}

100%{
box-shadow:
0 0 30px #ff0055;
}

}

/* NAV */

nav{

display:flex;

gap:20px;

}

nav a{

color:white;

text-decoration:none;

font-size:17px;

position:relative;

transition:0.4s;

}

nav a:hover{

color:gold;

}

nav a::after{

content:'';

position:absolute;

right:0;

bottom:-6px;

width:0%;

height:2px;

background:gold;

transition:0.4s;

}

nav a:hover::after{

width:100%;

}

/* HERO */

.hero{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:
190px 20px 70px;

background:

linear-gradient(
rgba(0,0,0,0.75),
rgba(0,0,0,0.75)
),

url('https://images.unsplash.com/photo-1589829545856-d10d557cf95f?q=80&w=2000')

center/cover;

}

.hero-content{

max-width:900px;

}

.hero h1{

font-size:55px;

color:gold;

margin-bottom:20px;

text-shadow:
0 0 25px rgba(255,215,0,0.4);

}

.hero p{

font-size:22px;

line-height:2;

margin-bottom:40px;

color:#ddd;

}

/* BUTTON */

.btn{

display:inline-block;

padding:14px 34px;

background:
linear-gradient(
45deg,
gold,
#ffcc00
);

color:black;

border-radius:50px;

text-decoration:none;

font-size:18px;

font-weight:bold;

transition:0.5s;

}

.btn:hover{

transform:
translateY(-5px)
scale(1.05);

}

/* SECTION */

section{

padding:90px 7%;

}

.title{

font-size:45px;

text-align:center;

margin-bottom:60px;

color:gold;

}

/* ABOUT */

.about{

display:grid;

grid-template-columns:
1fr 1fr;

gap:45px;

align-items:center;

}

.about img{

width:100%;

border-radius:25px;

transition:0.5s;

}

.about img:hover{

transform:
scale(1.03);

}

.about-text{

font-size:20px;

line-height:2.2;

color:#ddd;

}

/* SERVICES */

.services{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(260px,1fr));

gap:25px;

}

.service-box{

background:
rgba(17,28,46,.9);

padding:35px;

border-radius:25px;

transition:.5s;

border:
1px solid rgba(255,255,255,.08);

backdrop-filter:blur(12px);

box-shadow:
0 0 15px rgba(255,215,0,.08),
0 0 35px rgba(0,255,255,.05);

}

.service-box:hover{

transform:
translateY(-10px)
scale(1.03);

box-shadow:
0 0 25px rgba(255,215,0,.35),
0 0 50px rgba(0,255,255,.18),
0 0 70px rgba(255,0,170,.12);

}

.service-box h3{

font-size:28px;

margin-bottom:15px;

color:gold;

}

.service-box p{

line-height:2;

color:#ddd;

font-size:17px;

}

/* GALLERY */

.gallery{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:25px;

}

.gallery img{

width:100%;

height:280px;

object-fit:cover;

border-radius:25px;

transition:0.5s;

}

.gallery img:hover{

transform:
scale(1.05);

}

/* CONTACT */

.contact-box{

max-width:850px;

margin:auto;

padding:40px;

background:#111c2e;

border-radius:30px;

}

.contact-box input,
.contact-box textarea{

width:100%;

padding:18px;

margin-bottom:20px;

border:none;

border-radius:15px;

background:#1b2b45;

color:white;

font-size:17px;

outline:none;

}

.contact-box textarea{

resize:none;

}

.call-btn,
.whatsapp-contact{

width:100%;

display:flex;

justify-content:center;
align-items:center;

padding:18px;

margin-top:18px;

font-size:20px;

font-weight:bold;

border-radius:18px;

text-decoration:none;

transition:0.5s;

}

.call-btn{

background:
linear-gradient(
45deg,
gold,
#ffcc00
);

color:black;

}

.whatsapp-contact{

background:#25d366;

color:white;

}

.call-btn:hover,
.whatsapp-contact:hover{

transform:scale(1.04);

}

/* FOOTER */

footer{

background:black;

padding:28px;

text-align:center;

color:#999;

font-size:16px;

}

/* FLOATING */

.whatsapp{

position:fixed;

bottom:15px;

left:15px;

width:52px;

height:52px;

border-radius:50%;

background:#25d366;

display:flex;

justify-content:center;
align-items:center;

font-size:24px;

color:white;

text-decoration:none;

z-index:999;

animation:pulse 2s infinite;

}

@keyframes pulse{

0%{
transform:scale(1);
}

50%{
transform:scale(1.1);
}

100%{
transform:scale(1);
}

}

/* MOBILE */

@media(max-width:950px){

header{

flex-direction:column;

gap:14px;

padding:14px 10px;

}

nav{

flex-wrap:wrap;

justify-content:center;

gap:12px;

width:100%;

}

nav a{

font-size:14px;

}

.hero{

padding:
190px 15px 70px;

background-position:center;

}

.hero h1{

font-size:32px;

line-height:1.5;

}

.hero p{

font-size:16px;

line-height:2;

}

.btn{

padding:14px 30px;

font-size:16px;

}

section{

padding:75px 18px;

}

.title{

font-size:31px;

margin-bottom:45px;

}

.about{

grid-template-columns:1fr;

gap:30px;

}

.about img{

border-radius:18px;

}

.about-text{

font-size:16px;

line-height:2;

text-align:center;

}

.services{

grid-template-columns:1fr;

gap:18px;

}

.service-box{

padding:25px;

border-radius:20px;

box-shadow:
0 0 18px rgba(255,215,0,.18),
0 0 35px rgba(0,255,255,.10);

}

.service-box:hover{

transform:
scale(1.02);

}

.gallery{

grid-template-columns:1fr;

gap:18px;

}

.gallery img{

height:220px;

border-radius:18px;

}

.contact-box{

padding:22px;

border-radius:22px;

}

.contact-box input,
.contact-box textarea{

padding:15px;

font-size:15px;

border-radius:12px;

}

.call-btn,
.whatsapp-contact{

font-size:17px;

padding:15px;

border-radius:14px;

}

footer{

font-size:15px;

padding:20px;

}

}